header {
    background: url("http://images.newindianexpress.com/uploads/user/imagelibrary/2018/10/1/original/MYSURU_DASARA_VINTAGE_CAR_RALLY_EPS06.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}