html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-two);
    transition: all .5s ease-in-out;
    font-weight: normal;
}

.section-1 {
    height: 70vh;
    background-size: cover;
    position: relative;
    opacity: 0.8;
}

header {
    background: url('https://3.bp.blogspot.com/-w_J8V4hnmhE/URvGcYhOQzI/AAAAAAAAFnA/SoXDpQO21po/s1600/image-thumbCA26INLQ.jpg') no-repeat center center;
	padding-top: 60%;
	background-size: cover;
    font-family: 'Sucrose Bold Two', sans-serif;
}

header img {
	position: absolute;
	top: 0;
	right: 0;
	width: 45.8%;
}

header h1 { 
	position: fixed;
	top: 2rem;
	right: 2rem;
    font-size: 8vw;
    line-height: .8;
    margin-top: 0;
    text-align: right;
    color: var(--color-one);
    text-shadow: 0 0 1rem var(--color-two);
}

header h1 span {
  display: block;
  font-size: 8.75vw;
}

.container-gallery {
    max-height: max-content;
    margin: 0;
}

.footer {
    background: var(--color-one);
    color: var(--color-two);
    padding: 2rem 0;
    text-align: center;
}

.fork {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fork a img {
    margin: 0 0.5rem;
}